* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 80px;
}

#container {
    margin: 0 auto;
    padding: 0;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}

.row {
    margin: 0 auto;
    padding: 0;
    width: 300px;
    height: 100px;
    font-size: 0;
}

.cell {
    display: block;
    float: left;
    position: relative;
    font-size: 80px;
    width: 98px;
    height: 98px;
    border: 1px solid #000;
}

.player-1 {
    position: absolute;
    top: 29px;
    left: 29px;
    width: 38px;
    height: 38px;
    border: 2px solid #000;
    border-radius: 20px;
    display: none;
}

.player-2 {
    position: absolute;
    top: 29px;
    left: 29px;
    width: 40px;
    height: 40px;
    display: none;
}

.x-1 {
    position: absolute;
    top: 0px;
    left: 19px;
    width: 4px;
    height: 40px;
    background-color: #000;
    transform: rotate(45deg);
}

.x-2 {
    position: absolute;
    top: 0px;
    left: 19px;
    width: 4px;
    height: 40px;
    background-color: #000;
    transform: rotate(135deg);
}
